<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto | Warframe Wiki</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="simple-header">
        <h1>CONTACTO</h1>
        <p>¿Tienes sugerencias o comentarios sobre la wiki?</p>
    </header>
    <main class="contacto">
        <form class="form-contacto" id="form-contacto">
            <label>
                Nombre
                <input type="text" id="nombre" placeholder="Tu nombre">
            </label>
            <label>
                Correo
                <input type="email" id="email" placeholder="correo@ejemplo.com">
            </label>
            <label>
                Mensaje
                <textarea id="mensaje" placeholder="Escribe tu mensaje aquí..."></textarea>
            </label>
            <button type="submit">Enviar mensaje</button>
        </form>
    </main>
    <footer>
        <section></section>
        <section id="info-footer">
            <div id="nuestrasRedes">
                <a href="index"><img src="../static/img/Wiki.png" alt="logo"></a>
                <h4>REDES DE WARFRAME</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/PlayWarframe" target="_blank"><img src="../static/img/Facebook.webp" alt="FB"></a></li>
                        <li><a href="https://www.tiktok.com/@playwarframe" target="_blank"><img src="../static/img/Tiktok.png" alt="TK"></a></li>
                        <li><a href="https://x.com/PlayWarframe" target="_blank"><img src="../static/img/X.png" alt="X"></a></li>
                    </ul>
            </div>
            <div class="contenido-ft">
                <h4>SOBRE WARFRAME</h4>
                    <ul>
                        <li><a href="about.html">Sobre el proyecto</a></li>
                        <li><a href="https://www.warframe.com/es/the-old-peace">Novedades</a></li>
                        <li><a href="https://www.warframe.com/es/patch-notes">Notas de actualizacion</a></li>
                        <li><a href="https://www.warframe.com/es/buyplatinum">Platinum & Paquetes</a></li>
                        <li><a href="https://www.warframe.com/es/prime-access">Prime Access</a></li>
                        <li><a href="https://www.warframe.com/es/promocode">Canjear códigos</a></li>
                    </ul>
            </div>
            <div class="contenido-ft">
                <h4>MI CUENTA</h4>
                    <ul>
                        <li><a href="https://www.warframe.com/es/login">Ingresar</a></li>
                        <li><a href="https://www.warframe.com/es/signup">Crear Cuenta</a></li>      
                    </ul>
            </div>
        </section>
        <section id="final-footer">
        <p>&copy; Warframe Wiki 2025. Todos los derechos reservados</p>
       </section>
    </footer>
    </footer>
    <script src="../static/js/contacto.js"></script>
</body>
</html>